<div class="pt-5 pb-8 bg-[#222121]">
    <div class="flex justify-between px-4 items-center">
        <h1 class="text-white font-extrabold hover:cursor-pointer hover:underline text-xl">Popular radio</h1>
        <p class="text-[#bbbbbb] font-bold hover:cursor-pointer hover:underline text-sm">Show all</p>
    </div>
    <div class="flex gap-3 items-center">
        <div class="flex flex-col items-start my-4 mx-4">
            <div class="w-40 h-40 mb-2">
                <img src="radio_arijit.jpg" class="object-cover w-full h-full" />
            </div>
            <p class="text-white font-semibold">Arijit Singh Radio</p>
            <p class="text-[#bbbbbb] text-sm">With Neha Kakkar, Pritam, KK, and more</p>
        </div>

        <div class="flex flex-col items-start my-4 mx-4">
            <div class="w-40 h-40 mb-2">
                <img src="radio_diljit.jpg" class="object-cover w-full h-full" />
            </div>
            <p class="text-white font-semibold">Diljit Dosanjh Radio</p>
            <p class="text-[#bbbbbb] text-sm">With Garry Sandhu, Ranjit Bawa, Amrinder...</p>
        </div>

        <div class="flex flex-col items-start my-4 mx-4">
            <div class="w-40 h-40 mb-2">
                <img src="radio_il.jpg" class="object-cover w-full h-full" />
            </div>
            <p class="text-white font-semibold">Ilaiyaraaja Radio</p>
            <p class="text-[#bbbbbb] text-sm">With S. Janaki, S.P. Balasubrahmanyam, P....</p>
        </div>

        <div class="flex flex-col items-start my-4 mx-4">
            <div class="w-40 h-40 mb-2">
                <img src="radio_kumar.jpg" class="object-cover w-full h-full" />
            </div>
            <p class="text-white font-semibold">Kumar Sanu Radio</p>
            <p class="text-[#bbbbbb] text-sm">With Udit Narayan, Alka Yagnik, Anuradha...</p>
        </div>

        <div class="flex flex-col items-start my-4 mx-4">
            <div class="w-40 h-40 mb-2">
                <img src="radio_udit.jpg" class="object-cover w-full h-full" />
            </div>
            <p class="text-white font-semibold">Udit Narayan Radio</p>
            <p class="text-[#bbbbbb] text-sm">With Kumar Sanu, Alka Yagnik, Anuradha...</p>
        </div>
    </div>
</div>
