<div class="pt-5 pb-8 bg-[#222121]">
    <div class="flex justify-between px-4 items-center">
        <h1 class="text-white font-extrabold hover:cursor-pointer hover:underline text-xl">Popular radio</h1>
        <p class="text-[#bbbbbb] font-bold hover:cursor-pointer hover:underline text-sm">Show all</p>
    </div>
    <div class="flex items-stretch justify-center">
        <div class="min-w-[200px] p-4 rounded-lg">
            <img src="radio_arijit.jpg" class="w-full rounded-lg" />
            <h3 class="text-white text-lg font-semibold mt-2">Arijit Singh Radio</h3>
            <p class="text-[#bbbbbb] text-sm">With Neha Kakkar, Pritam, KK, and more</p>
        </div>

        <div class="min-w-[200px] p-4 rounded-lg">
            <img src="radio_diljit.jpg" class="w-full rounded-lg" />
            <h3 class="text-white text-lg font-semibold mt-2">Diljit Dosanjh Radio</h3>
            <p class="text-[#bbbbbb] text-sm">With Garry Sandhu, Ranjit Bawa, Amrinder...</p>
        </div>

        <div class="min-w-[200px] p-4 rounded-lg">
            <img src="radio_il.jpg" class="w-full rounded-lg" />
            <h3 class="text-white text-lg font-semibold mt-2">Ilaiyaraaja Radio</h3>
            <p class="text-[#bbbbbb] text-sm">With Neha Kakkar, Pritam, KK, and more</p>
        </div>

        <div class="min-w-[200px] p-4 rounded-lg">
            <img src="radio_kumar.jpg" class="w-full rounded-lg" />
            <h3 class="text-white text-lg font-semibold mt-2">Kumar Sanu Radio</h3>
            <p class="text-[#bbbbbb] text-sm">With Udit Narayan, Alka Yagnik, Anuradha...</p>
        </div>

        <div class="min-w-[200px] p-4 rounded-lg">
            <img src="radio_udit.jpg" class="w-full rounded-lg" />
            <h3 class="text-white text-lg font-semibold mt-2">Udit Narayan Radio</h3>
            <p class="text-[#bbbbbb] text-sm">With Kumar Sanu, Alka Yagnik, Anuradha...</p>
        </div>
    </div>
</div>
