<div class="w-full mx-auto flex justify-between px-5 py-5 items-center">
    <div class="text-[#bbbbbb] text-3xl text-center flex gap-2">
        <button class="rounded-full bg-[#0a0909] w-9 h-9"><</button>
        <button class="rounded-full bg-[#0a0909] w-9 h-9">></button>
    </div>
    <div class="flex gap-7 items-center">
        <h1 class="text-[#bbbbbb] font-extrabold hover:text-white cursor-pointer">Sign up</h1>
        <button class="bg-white text-black rounded-3xl max-w-[250px] text-center font-extrabold py-3 px-8 text-base">Log in</button>
    </div>
</div>
