<div class="pt-5 pb-8 bg-[#222121]">
    <div class="flex justify-between px-4 items-center">
        <h1 class="text-white font-extrabold hover:cursor-pointer hover:underline text-xl">Popular artists</h1>
        <p class="text-[#bbbbbb] font-bold hover:cursor-pointer hover:underline text-sm">Show all</p>
    </div>
    <div class="flex items-stretch justify-center">
        <div class="min-w-[200px] p-4 rounded-lg">
            <img src="global.jpg" class="w-full rounded-lg" />
            <p class="text-white text-lg font-semibold mt-2">Top Songs - Global</p>
            <p class="text-[#bbbbbb] text-sm">Your weekly update of the most played tracks...</p>
        </div>

        <div class="min-w-[200px] p-4 rounded-lg">
            <img src="usa.jpg" class="w-full rounded-lg" />
            <p class="text-white text-lg font-semibold mt-2">Top Songs - USA</p>
            <p class="text-[#bbbbbb] text-sm">Your weekly update of the most played tracks...</p>
        </div>

        <div class="min-w-[200px] p-4 rounded-lg">
            <img src="top50.jpg" class="w-full rounded-lg" />
            <p class="text-white text-lg font-semibold mt-2">Top 50 - Global</p>
            <p class="text-[#bbbbbb] text-sm">Your daily update of the most played tracks righ...</p>
        </div>

        <div class="min-w-[200px] p-4 rounded-lg">
            <img src="usa50.jpg" class="w-full rounded-lg" />
            <p class="text-white text-lg font-semibold mt-2">Top 50 - USA</p>
            <p class="text-[#bbbbbb] text-sm">Your daily update of the most played tracks righ...</p>
        </div>

        <div class="min-w-[200px] p-4 rounded-lg">
            <img src="viral50.jpg" class="w-full rounded-lg" />
            <p class="text-white text-lg font-semibold mt-2">Viral 50 - Global</p>
            <p class="text-[#bbbbbb] text-sm">Your daily update of the most viral tracks right...</p>
        </div>
    </div>
</div>
