<div class="pt-5 pb-8 bg-[#222121]">
    <div class="flex justify-between px-4 items-center">
        <h1 class="text-white font-extrabold hover:cursor-pointer hover:underline text-xl">Popular artists</h1>
        <p class="text-[#bbbbbb] font-bold hover:cursor-pointer hover:underline text-sm">Show all</p>
    </div>
    <div class="flex gap-3 items-center justify-center">
        <div class="flex flex-col items-start my-4 mx-4">
            <div class="w-40 h-40 mb-2">
                <img src="global.jpg" class="object-cover w-full h-full" />
            </div>
            <p class="text-white font-semibold">Top Songs - Global</p>
            <p class="text-[#bbbbbb] text-sm">Your weekly update of the most played tracks...</p>
        </div>

        <div class="flex flex-col items-start my-4 mx-4">
            <div class="w-40 h-40 mb-2">
                <img src="usa.jpg" class="object-cover w-full h-full" />
            </div>
            <p class="text-white font-semibold">Top Songs - USA</p>
            <p class="text-[#bbbbbb] text-sm">Your weekly update of the most played tracks...</p>
        </div>
        <div class="flex flex-col items-start my-4 mx-4">
            <div class="w-40 h-40 mb-2">
                <img src="top50.jpg" class="object-cover w-full h-full" />
            </div>
            <p class="text-white font-semibold">Top 50 - Global</p>
            <p class="text-[#bbbbbb] text-sm">Your daily update of the most played tracks righ...</p>
        </div>
        <div class="flex flex-col items-start my-4 mx-4">
            <div class="w-40 h-40 mb-2">
                <img src="usa50.jpg" class="object-cover w-full h-full" />
            </div>
            <p class="text-white font-semibold">Top 50 - USA</p>
            <p class="text-[#bbbbbb] text-sm">Your daily update of the most played tracks righ...</p>
        </div>
        <div class="flex flex-col items-start my-4 mx-4">
            <div class="w-40 h-40 mb-2">
                <img src="viral50.jpg" class="object-cover w-full h-full" />
            </div>
            <p class="text-white font-semibold">Viral 50 - Global</p>
            <p class="text-[#bbbbbb] text-sm">Your daily update of the most viral tracks right...</p>
        </div>
    </div>
</div>
