<div class="pt-5 pb-8 bg-[#222121]">
    <div class="flex justify-between px-4 items-center">
        <h1 class="text-white font-extrabold hover:cursor-pointer hover:underline text-xl">Popular artists</h1>
        <p class="text-[#bbbbbb] font-bold hover:cursor-pointer hover:underline text-sm">Show all</p>
    </div>
    <div class="flex gap-3 items-center">
        <div class="flex flex-col max-w-[320px] items-start my-4 mx-4">
            <img src="pritam.jpg" class="rounded-full w-40 h-40 object-cover mb-2" />
            <p class="text-white font-semibold">Pritam</p>
            <p class="text-[#bbbbbb] text-sm">Artist</p>
        </div>
        <div class="flex flex-col max-w-[220px] items-start my-4 mx-4">
            <img src="arijit.jpg" class="rounded-full w-40 h-40 object-cover mb-2" />
            <p class="text-white font-semibold">Arijit Singh</p>
            <p class="text-[#bbbbbb] text-sm">Artist</p>
        </div>
        <div class="flex flex-col max-w-[220px] items-start my-4 mx-4">
            <img src="rahman.jpg" class="rounded-full w-40 h-40 object-cover mb-2" />
            <p class="text-white font-semibold">A.R. Rahman</p>
            <p class="text-[#bbbbbb] text-sm">Artist</p>
        </div>
        <div class="flex flex-col max-w-[220px] items-start my-4 mx-4">
            <img src="ani.jpg" class="rounded-full w-40 h-40 object-cover mb-2" />
            <p class="text-white font-semibold">Anirudh Ravichander</p>
            <p class="text-[#bbbbbb] text-sm">Artist</p>
        </div>
        <div class="flex flex-col max-w-[220px] items-start my-4 mx-4">
            <img src="vishal.jpg" class="rounded-full w-40 h-40 object-cover mb-2" />
            <p class="text-white font-semibold">Vishal Mishra</p>
            <p class="text-[#bbbbbb] text-sm">Artist</p>
        </div>
    </div>
</div>
