<div class="bg-black grid grid-cols-12 h-full">
  <div class="h-100vh col-span-3 flex flex-col gap-2">
    <app-top-left></app-top-left>
    <app-sidebar></app-sidebar>
    <app-footer></app-footer>
  </div>
  <div class="col-span-9">
    <div class="bg-[#131313] rounded-xl max-w-[996px] h-100vh mt-3 mx-auto ml-2">
      <app-header></app-header>
      <app-artists></app-artists>
      <app-albums></app-albums>
      <app-radio></app-radio>
      <app-charts></app-charts>
    </div>
  </div>
</div>