<div class="rounded-xl max-w-[330px] bg-[#131313] py-6 px-3 pl-7 items-start flex flex-col gap-5 mt-3 ml-3">
    <img src="Spotify_White.png" alt="Spotify_White" class="object-scale-down w-4/12" />
    <div class="flex gap-2 text-[#bbbbbb] font-bold hover:text-white cursor-pointer items-center">
        <img src="home.png" alt="homeicon" class="object-scale-down w-8 hover:hidden"/>
        <a>Home</a>
    </div>
    <div class="flex gap-2 text-[#bbbbbb] font-bold hover:text-white cursor-pointer items-center">
        <img src="search.png" alt="searchicon" class="object-scale-down w-8 hover:hidden"/>
        <a>Search</a>
    </div>
</div>
