<div class="rounded-xl max-w-[330px] bg-[#131313] py-4 px-3 items-start flex flex-col gap-3 mx-auto ml-3 mb-3">
    <div class="flex flex-col gap-3 pb-52">
        <div class="flex justify-between items-center mx-auto px-5 gap-36 pb-2">
            <div class="flex gap-1 text-[#bbbbbb] font-bold hover:text-white cursor-pointer items-center">
                <img src="library.png" alt="lib" class="object-scale-down w-8 hover:hidden"/>
                <a>Your</a>
                <a>Library</a>
            </div>
            <button class="font-bold text-3xl text-[#bbbbbb] hover:text-white">+</button>
        </div>
        <div class="flex flex-col gap-6">
            <div class="rounded-xl bg-[#222121] w-[300px] py-6 px-3 items-start flex flex-col gap-3 text-white">
                <h1 class="font-bold">Create your first playlist</h1>
                <p class="font-medium text-sm pb-2">It's easy, we'll help you</p>
                <button class="bg-white text-black rounded-3xl max-w-[250px] text-center font-bold py-2 px-4 text-sm">Create Playlist</button>
            </div>
            <div class="rounded-xl bg-[#222121] w-[300px] py-6 px-3 items-start flex flex-col gap-3 text-white font-semibold">
                <h1 class="font-bold">Let's find some podcasts to follow</h1>
                <p class="text-sm font-medium pb-2">We'll keep you updated on new episodes</p>
                <button class="bg-white text-black rounded-3xl max-w-[250px] text-center font-bold py-2 px-4 text-sm">Browse podcasts</button>
            </div>
        </div>
    </div>

    <div class="flex flex-col gap-4 items-start pl-1 pb-14 text-xs">
        <div class="flex gap-4 text-gray-300 hover:cursor-pointer">
            <a>Legal</a>
            <a>Safety & Privacy Center</a>
            <a>Privacy Policy</a>
        </div>
        <div class="flex gap-4 text-gray-300 hover:cursor-pointer">
            <a>Cookies</a>
            <a>About Ads</a>
            <a>Accessibility</a>
        </div>
        <div class="flex gap-2 text-sm text-gray-300 hover:cursor-pointer hover:underline">
            <a>Cookies</a>
        </div>
    </div>

    <div class="items-start pl-1">
        <button class="text-white bg-[#131313] border-solid border-2 border-white rounded-3xl max-w-[250px] text-center font-bold py-2 px-3 text-sm flex gap-1 items-center"><img src="globe.png" alt="/" class="object-scale-down w-5" /> English </button>
    </div>
</div>