<div class="pt-5 pb-8 bg-[#222121]">
    <div class="flex justify-between px-4 items-center">
        <h1 class="text-white font-extrabold hover:cursor-pointer hover:underline text-xl">Popular albums</h1>
        <p class="text-[#bbbbbb] font-bold hover:cursor-pointer hover:underline text-sm">Show all</p>
    </div>
    <div class="flex items-stretch justify-center">
        <div class="min-w-[200px] p-4 rounded-lg">
            <img src="animal.jpg" class="w-full rounded-lg" />
            <h3 class="text-white text-lg font-semibold mt-2">ANIMAL</h3>
            <p class="text-[#bbbbbb] text-sm">Manan Bhardwaj, Vishal Mishra, Jaani</p>
        </div>

        <div class="min-w-[200px] p-4 rounded-lg">
            <img src="etr.jpg" class="w-full rounded-lg" />
            <h3 class="text-white text-lg font-semibold mt-2">Ek Tha Raja</h3>
            <p class="text-[#bbbbbb] text-sm">Badshah</p>
        </div>

        <div class="min-w-[200px] p-4 rounded-lg">
            <img src="moose.jpg" class="w-full rounded-lg" />
            <h3 class="text-white text-lg font-semibold mt-2">Moosetape</h3>
            <p class="text-[#bbbbbb] text-sm">Sidhu Moose Wala</p>
        </div>

        <div class="min-w-[200px] p-4 rounded-lg">
            <img src="rollin.jpg" class="w-full rounded-lg" />
            <h3 class="text-white text-lg font-semibold mt-2">Still Rollin</h3>
            <p class="text-[#bbbbbb] text-sm">Shubh</p>
        </div>

        <div class="min-w-[200px] p-4 rounded-lg">
            <img src="aashiqui.jpg" class="w-full rounded-lg" />
            <h3 class="text-white text-lg font-semibold mt-2">Aashiqui 2</h3>
            <p class="text-[#bbbbbb] text-sm">Mithoon, Ankit Tiwari, Jeet Gannguli</p>
        </div>
    </div>
</div>
