<div class="pt-5 pb-8 bg-[#222121]">
    <div class="flex justify-between px-4 items-center">
        <h1 class="text-white font-extrabold hover:cursor-pointer hover:underline text-xl">Popular albums</h1>
        <p class="text-[#bbbbbb] font-bold hover:cursor-pointer hover:underline text-sm">Show all</p>
    </div>
    <div class="flex gap-3 items-center justify-center">
        <div class="flex flex-col items-start my-4 mx-4">
            <div class="w-40 h-40 mb-2">
                <img src="animal.jpg" class="object-cover w-full h-full" />
            </div>
            <p class="text-white font-semibold">ANIMAL</p>
            <p class="text-[#bbbbbb] text-sm">Manan Bhardwaj, Vishal Mishra, Jaani</p>
        </div>

        <div class="flex flex-col items-start my-4 mx-4">
            <div class="w-40 h-40 mb-2">
                <img src="etr.jpg" class="object-cover w-full h-full" />
            </div>
            <p class="text-white font-semibold">Ek Tha Raja</p>
            <p class="text-[#bbbbbb] text-sm">Badshah</p>
        </div>
        <div class="flex flex-col items-start my-4 mx-4">
            <div class="w-40 h-40 mb-2">
                <img src="moose.jpg" class="object-cover w-full h-full" />
            </div>
            <p class="text-white font-semibold">Moosetape</p>
            <p class="text-[#bbbbbb] text-sm">Sidhu Moose Wala</p>
        </div>
        <div class="flex flex-col items-start my-4 mx-4">
            <div class="w-40 h-40 mb-2">
                <img src="rollin.jpg" class="object-cover w-full h-full" />
            </div>
            <p class="text-white font-semibold">Still Rollin</p>
            <p class="text-[#bbbbbb] text-sm">Shubh</p>
        </div>
        <div class="flex flex-col items-start my-4 mx-4">
            <div class="w-40 h-40 mb-2">
                <img src="aashiqui.jpg" class="object-cover w-full h-full" />
            </div>
            <p class="text-white font-semibold">Aashiqui 2</p>
            <p class="text-[#bbbbbb] text-sm">Mithoon, Ankit Tiwari, Jeet Gannguli</p>
        </div>
    </div>
</div>
